* {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
}

body {
  margin: 0;
  font-family: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', Arial;
  font-weight: 400;
  font-variant: tabular-nums;
  font-size: 13px;
  line-height: 1.5;
  color: #333333;
  background-color: #fff;
}

h1,
h2,
h4,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}
