/* Element - Editor
 -------------------------- */
.el-date-editor--date.peace-date-picker,
.el-date-editor--time.peace-time-picker {
  &:not(.element-ui-default) {
    width: $--form-component-width-base;
  }
}

/* Element - RangeEditor
  -------------------------- */
.el-range-editor {
  &:not(.element-ui-default) {
    &.el-range-editor--mini {
      &.el-date-editor--daterange.el-input,
      &.el-date-editor--daterange.el-input__inner {
        width: $--form-component-width-base;
      }
      &.el-date-editor--datetimerange.el-input,
      &.el-date-editor--datetimerange.el-input__inner {
        width: 340px;
      }

      &.el-range-editor.el-input__inner {
        display: flex;
        align-items: center;
        padding: 0 12px;
        cursor: pointer;
      }

      &.el-date-editor--daterange .el-range-input {
        width: 42%;
        min-width: 72px;
        text-align: right;

        &:first-child {
          text-align: left;
        }
      }

      &.el-date-editor--datetimerange .el-range-input {
        width: 45%;
        min-width: 120px;
        text-align: right;

        &:first-child {
          text-align: left;
        }
      }

      .el-range-separator {
        width: 6px;
        padding: 0 2px;
        line-height: 30px;
      }

      .el-range__close-icon,
      .el-icon-date,
      .el-icon-time {
        position: absolute;
        right: 4px;
        line-height: 30px;
        font-size: 14px;
      }
    }

    &.is-active {
      box-shadow: $--box-shadow-primary;
    }

    .el-range-input {
      color: $--color-text-base;
    }
  }
}
