.el-input {
  &:not(.element-ui-default) {
    ::placeholder {
      color: rgba(51, 51, 51, 0.4);
    }

    &.el-input--mini {
      .el-input__inner {
        padding: 0 12px;
      }
    }

    &.is-disabled {
      .el-input__inner {
        background-color: #f6f6f6;
        border-color: $--border-color-base;
        color: $--color-text-secondary;
      }
    }

    &.el-input--prefix {
      &.peace-date-picker,
      &.peace-time-picker {
        .el-input__inner {
          padding: 0 12px !important;
        }
      }

      .el-input__inner {
        padding-left: 32px;
      }
    }

    .el-input__count {
      color: $--color-text-regular;
    }

    .el-input__inner:focus {
      box-shadow: $--box-shadow-primary;
    }

    .el-input__suffix {
      height: 100%;

      .el-input__icon {
        height: 100%;
      }
    }
  }
}

.el-input-number {
  &:not(.element-ui-default) {
    &.is-controls-right {
      .el-input__inner {
        text-align: left;
      }
    }

    .el-input-number__inner:focus {
      box-shadow: $--box-shadow-primary;
    }
  }
}

.el-textarea {
  &:not(.element-ui-default) {
    &.el-input--mini {
      .el-textarea__inner {
        padding: 4px 12px;

        font-size: 14px;
      }
    }

    .el-textarea__inner:focus {
      box-shadow: $--box-shadow-primary;
    }
  }
}
