.el-menu {
  &:not(.element-ui-default) {
    border-right: 0;

    &.el-menu--collapse {
      .el-menu-item {
        &.is-active {
          &::before {
            content: none !important;
          }
        }
      }
    }

    &:not(.el-menu--popup) .el-menu-item {
      height: 48px;
      line-height: 48px;

      &.is-active {
        background: $--color-primary-light-10;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          width: 2px;
          height: 100%;
          border-left: 2px solid $--color-primary;
        }
      }
    }

    .el-menu-item {
      height: 48px;
      line-height: 48px;

      &.is-active {
        background: $--color-primary-light-10;

        &::before {
          content: none;
        }
      }
    }

    .el-submenu__title {
      height: 48px;
      line-height: 48px;
    }

    .el-submenu {
      .el-menu-item {
        padding: 0 48px !important;
      }

      > .el-menu > .el-submenu > .el-submenu__title {
        padding: 0 0 0 48px !important;
      }
    }

    .el-submenu [class^='el-icon-'] {
      margin-right: 4px;
    }

    .el-submenu__icon-arrow {
      margin-top: -4px;
    }
  }
}

.el-menu--vertical {
  &.el-menu--collapse {
    .el-menu-item {
      &.is-active {
        background: unset;
      }
    }
  }
}
