html, body {
    background: #fff;
    color: #3a4a59;
    font: 14px/1.5 Helvetica, Arial, Tahoma'微软雅黑';
}
.icon-chat {
    background-position: -35px 0;
}
.icon-list {
    background-position: -35px -25px;
}
.icon-team {
    background-position: -35px -50px;
}
.icon-team-info {
    background-position: -63px -25px;
}
.icon-list.cur {
    background-position: 0 -25px;
}
.icon-chat.cur {
    background-position: 0 0;
}
.icon-team.cur {
    background-position: 0 -50px;
}
.icon.cur:after {
    display: inline-block;
    width: 38px;
    height: 8px;
    background: url(../images/icons.png) no-repeat -67px -170px;
    content:' ';
    position: absolute;
    top: 22px;
    left: 35px;
}

.icon-pic {
    background-position: 0 -79px;
    width: 25px;
    height: 25px;
    margin-right: 3px;
}
.icon-file {
    background-position: -35px -78px;
    width: 25px;
    height: 25px;
}
.icon-file2 {
    background-position: -108px -118px;
    width: 37px;
    height: 50px;
    margin-right: 5px;
}
.icon-error {
    background-position: -38px -141px;
    margin-right: 5px;
    height: 20px;
}
.icon-close {
    background-position: -34px -165px;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
.icon-plus {
    background-position: -63px -81px;
    margin-right: 5px;
}
.error {
    color: #6b8299;
    font-size: 12px;
    padding: 5px 5px;
    text-align: right;
    line-height: 37px;
    float: right;
}
.item .readMsg{
    display: none;
    color: #6b8299;
    font-size: 12px;
    padding: 5px 5px;
    text-align: right;
    line-height: 37px;
    float: right;
}
.item.read .readMsg{
    display: block;
}
.wrapper {
    position: relative;
    overflow: hidden;
    min-width: 1000px;
    min-height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
.content {
    position: relative;
    display: flex;
}
.chatVernier {
    position: absolute;
    left: 270px;
    top: 80px;
    height: 542px;
    width: 30px;
    overflow: hidden;
}
.chatVernier span {
    position: absolute;
    left:0;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #e5f4ff;
}
.title {
    background-color: #fff;
    line-height: 50px;
    position: relative;
    border-bottom: 1px solid #efefef;
    font-size: 16px;
    color: #333333;
    text-align: center;
}
.title img {
    width: 17px;
    height: 15px;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 7px;
}
.title .u-modify{
    width: 13px;height: 13px;
    float: none;
    margin: 0;
}
.exit {
    position: absolute;
    right: 12px;
    top: 0;
    line-height: 28px;
    padding-left: 10px;
    border-left: 1px dotted #ccc;
    color: #88939b;
    font-size: 12px;
    cursor:pointer
}
.init-text {
    padding: 5px 10px;
}
.panel {
    height: 34px;
    position: relative;
    border-bottom: 1px solid #ced4d9;
}
.panel a {
    display: inline-block;
    float: left;
    width: 33.3%;
    margin: 5px 0;
}
.panel .panel_tab{
    position: relative;
}
.search-input {
    border: 1px solid #ddd;
    padding: 5px 5%;
    width: 90%;
}
.left-panel {
    width: 214px;
    height: 100%;
    float: left;
    z-index: 99;
    border: 1px solid #efefef;
    border-left:0;
    background-color: #fff;
}
.friends {
    height:100%;
}
.friends .list{
    height: 100%;
    width: 100%;
    position: relative;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
} 
.chat-vernier {
    position: absolute;
    margin-left: 6px;
    display: inline-block;
}
.chat-vernier span {
    width: 15px;
    display: inline-block;
    height: 15px;
    border: 1px solid #ccc;
    background-color: #ccc;
}
.team-info {
    position: absolute;
    line-height: 20px;
    width: 68px;
    height: 46px;
    border: 1px solid #ddd;
    right: 90px;
    top: 17px;
    cursor: pointer;
}
.cloudMsg {
    position: absolute;
    line-height: 20px;
    width: 68px;
    height: 46px;
    border: 1px solid #ddd;
    right: 10px;
    top: 17px;
    cursor: pointer;
}
.cloudMsg:hover,.team-info:hover {
    background-color: #ececec;
}

.right-panel {
    height: 100%;
    background-color: #fff;
    position:relative;
}
.right-panel-1{
    flex:1;
    border-right: 1px solid #efefef;
}
.chat-box {
    position: relative;
    height: 100%;
}
.chat-box .title .img{
    cursor: pointer;
    border-radius: 50%;
}
.chat-box .title>span {
    display: block;
    text-align: left;
    width: 20%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    padding-left: 12px;
}
.u-chat-notice{
    z-index: 5;
    background-color: #fbfcbe;
    width: 710px;
    height: 14px;
    position: absolute;
    top: 80px;
    opacity: 0.8;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;    
}
.chat-mask{
    z-index: 5;
    background-color: #e5f4ff;
    width: 710px;
    height: 14px;
    position: absolute;
    bottom: 9px;
    opacity: 0.8;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;  
}
.chat-content {
    position: absolute;
    top: 81px;
    bottom: 156px;
    width: 100%;
    overflow-y: auto;
    padding: 10px 3%;
}
.chat-content .item{
    overflow: hidden;
    padding: 4px 0px 10px 0px;
}
.chat-content .img{
    cursor: pointer;
    border-radius: 50%;
}
.no-msg span {
    padding: 3px 15px;
    background-color: #e5f4ff;
    color:#6b8299;
}

.item-you img {
    float: left;
    margin-right: 14px;
}
.item-me img {
    float: right;
    margin-left: 14px;
}
.item-you .img,.item-me .img{
    width: 40px;
    height: 40px;
}
.msg {
    position: relative;
    margin-top: 5px;
    border-radius: 4px;
    margin-left: 10px;
    border: 1px solid;
    margin-right: 10px;
}
.item-you .nick {
    color: #3a4a59;
    font-size: 12px;
    padding-top: 5px;
}
.item-you .msg-text {
    float: left;
    color: #333;
    background: #f3f3f3;
    border-color: #f3f3f3;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.06);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.06);
}
.item-me .msg-text {
    float: right;
    color: #fff;
    background: #00C6AE;
}
.item-me .download-file {
	display: block;
	color: #fff;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.item-you .download-file {
    display: block;
    color:#666;
}
.msg:before, .msg:after {
    content:' ';
    position: absolute;
    top: 11px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    width: 0;
    height: 0;
}
.item-you .msg:before {
    right: 100%;
    border-right: 5px solid #f3f3f3;
}
.item-you .msg:after {
    background: none;
}
.item-me .msg:before {
    background: none;
}
.item-me .msg:after {
    left: 100%;
    border-left: 5px solid #00C6AE;
}
.item-me .msg .box:before {
    background-position: -25px -40px;
}
.msg .box {
    position: relative;
    padding: 7px 12px;
    zoom: 1;
}
.msg .box:before {
    background-position: 0 -40px;
}
.msg .box:after {
    background-position: 0 -60px;
}
.msg .cnt {
    position: relative;
    min-height: 20px;
    line-height: 20px;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 14px;
}
.msg .cnt img {
    width: 100%;
    max-width: 290px;
    _width:290px;
}
.msg .cnt audio{
    width: 300px;
    height: 35px;
}
.msg .cnt video{
    width: 300px;
}
.msg .cnt .chartlet{
    width: 120px;
    margin: 0;
}
.arrow {
    background: url(../images/msg.png) no-repeat 9999px 9999px;
    _background: url(../images/msg-8.png) no-repeat 9999px 9999px;
}
.chat-box .title {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    background-color: #f9f9f9;
    display: flex;
}
.chat-editor {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 156px;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
}
.chat-editor-top{
    padding: 5px 0;
    width: 100%;
    background: #FBFBFB;
    border-top:1px solid #efefef;
}
.chat-editor-bottom{
    flex:1;
}
.btn-send {
    color: #fff;
    background: #00C6AE;
    border-radius: 50px;
    display: inline-block;
    width: 89px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #00C6AE;
}
.btn-send:hover {
    color:#fff;
}
.msg-type {
    position: relative;
    width: 90px;
    display: inline-block;
    flex-direction: row;
    text-align: center;
    line-height: 25px;
    border-right: 1px solid #efefef;
}
.msg-type.last{
    border-right:0
}
.msg-input {
    font: 14px/1.5 Helvetica, Arial, Tahoma, '微软雅黑';
    width: 100%;
    height: 100%;
    outline: none;
    background: #fff;
    border: none;
    overflow-y: auto;
    padding: 6px 10px;
}
.send-btn-box{
    position: absolute;
    top: 114px;
    z-index: 999;
    right: 15px;
}
.send-btn-box .left{
    color: #00C6AE;
    background: #fff;
    margin-right: 14px;
}
.create-team {
    padding: 5px 10px;
    border-bottom: 1px solid #ced4d9;
    cursor: pointer;
}
.footer {
    text-align: center;
    padding: 20px 0;
    background: url(../images/line.png) no-repeat center;
    color:#3a4a59
}
.cloud-msg-container,.team-info-container {
    margin-left: 292px;
    height: 620px;
    background-color: #fff;
    position: absolute;
    width: 710px;
    top: 100px;
    z-index: 2;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.cloud-msg-container .info-content{
    border: none;
    height: 520px;
}
.create-team-container {
    position: fixed;
    width: 680px;
    height: 580px;
    top: 50%;
    left:50%;
    margin-top: -290px;
    margin-left: -340px;
    background-color: #fff;
    border: 1px solid #ececec;
    z-index: 9;
}
.mask img {
    width: 100%;
    height: 100%;
}
.img-wrap {
    width: 610px;
    height: 500px;
    position: absolute;
    top: 50%;
    margin-top: -250px;
    left: 50%;
    margin-left: -305px;
}
.bad-network {
    line-height: 38px;
    background-color: #fffeeb;
    width: 360px;
    margin: 0 auto;
    color: #f24c3d;
    font-size: 14px;
}
.msg .cnt .emoji {
	width: 20px;
	margin: 0;
	vertical-align: middle;
	float: none;
}
.m-sysMsg{
    position: relative;
}
.m-sysMsg .count{
    position: absolute;
    bottom: 20px;
    right: 9px;
    background-color: #f24c3d;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 0 5px;
    width: 20px;
}
.m-devices{
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    background-color: #e5f4ff;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.u-emoji{
    position: absolute;
    top: 10px;
    left: 8px;
    width: 30px;
    height: 30px;
    background: url(../images/icons.png) no-repeat center;
    background-position: 2px -187px;
}
.devices-container {
  margin-left: 292px;
  height: 620px;
  background-color: #f5f5f5;
  position: absolute;
  width: 710px;
  top: 0;
  z-index: 7;
}
.devices-container .content {
    position: relative;
    height: 500px;
    padding: 12px 20px;
    overflow: scroll;
}
.devices-container .main{
    position: absolute;
    top: 68px;
    left: 192px;
    width: 326px;
    height: 400px;
}
.devices-container .pic{
    height: 260px;
    margin-bottom: 30px;
    background: url(../images/devices.jpg) no-repeat center;
}
.devices-container .mobile,.devices-container .pc{
    margin-top: 20px;
    position: relative;
    width: 324px;
    height: 54px;
    border: 1px solid #ccc;
    background-color: #edecee;
}
.devices-container .mobile p,.devices-container .pc p{
    line-height: 54px;
    margin-left: 12px;
}
.devices-container .mobile a,.devices-container .pc a{
      position: absolute;
      top: 7px;
      right: 8px;
      width: 72px;
      height: 40px;
      background-color: #f05b60;
      line-height: 40px;
      text-align: center;
      color: #fff;
      font-size: 14px;
      border-radius: 2px;
}
.cloud-msg-container .item{
    overflow: hidden;
    padding: 4px 0px 10px 0px;
}
.m-dialog {
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -193px;
    margin-top:-126px; 
    width: 386px;
    height: 252px;
    background-color: #fff;
    z-index: 100;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    overflow: hidden;

}
.m-dialog .title{
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    border: none;
}

.m-dialog .btns{
    position: absolute;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    padding:22px 0;
    border-top: 1px solid #e0e6eb;
}
.m-dialog .content{
    padding-top: 20px;
}
.m-dialog .content .info{
    display: none;
    padding: 10px 28px;
}
.m-dialog .info img{
    float: left;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.m-dialog .info .desc{
    float: left;
    text-align: left;
    padding: 10px
}
.m-dialog .info p{
    color: #3a4a59;
    font-size: 14px;
}
.m-dialog .info span{
    font-size: 12px;
    color: #6b8299;
}
.m-dialog .ipt{
    height: 34px;
    width: 300px;
    border: 1px solid #e0e6eb;
    font-size: 14px;
    padding: 0 10px;
}
.m-dialog .tip{
    padding: 10px;
    display: none;
}
.m-dialog .btns .add,.m-dialog .btns .back,.m-dialog .btns .done,.m-dialog .btns .chat,.m-dialog .btns .blacklist{
    display: none;
}
/*添加好友（不是好友）*/
.m-dialog.noFriend .btns .cancel,.m-dialog.noFriend .btns .search,.m-dialog.noFriend .btns .done,.m-dialog.noFriend .btns .chat，.m-dialog.noFriend .btns .blacklist{
    display: none;
} 
.m-dialog.noFriend .btns .back,.m-dialog.noFriend .btns .add{
    display: inline-block;
}                                                                          
.m-dialog.noFriend .content .ipt,.m-dialog.noFriend .content .tip{
    display: none;
}
.m-dialog.noFriend .content .info{
    display: block;
}
/*添加好友（是好友）*/
.m-dialog.friend .btns .cancel,.m-dialog.friend .btns .search,.m-dialog.friend .btns .done,.m-dialog.friend .btns .add,.m-dialog.friend .btns .blacklist{
    display: none;
} 
.m-dialog.friend .btns .back,.m-dialog.friend .btns .chat{
    display: inline-block;
}                                                                          
.m-dialog.friend .content .ipt,.m-dialog.friend .content .tip{
    display: none;
}
.m-dialog.friend .content .info{
    display: block;
}
/*添加好友 添加完成*/
.m-dialog.done .tip{
    display: block;
}
.m-dialog.done .ipt,.m-dialog.done .info{
    display: none;
}
.m-dialog.done .btns .cancel,.m-dialog.done .btns .search,.m-dialog.done .btns .add,.m-dialog.done .btns .chat,.m-dialog.done .btns .blacklist{
    display: none;
} 
.m-dialog.done .btns .back,.m-dialog.done .btns .done{
    display: inline-block;
}

/*添加好友 在黑名单*/
.m-dialog.blacklist .info{
    display: block;
}
.m-dialog.blacklist .ipt,.m-dialog.blacklist .tip{
    display: none;
}
.m-dialog.blacklist .btns .cancel,.m-dialog.blacklist .btns .search,.m-dialog.blacklist .btns .add,.m-dialog.blacklist .btns .chat,.m-dialog.blacklist .btns .done{
    display: none;
} 
.m-dialog.blacklist .btns .back,.m-dialog.blacklist .btns .blacklist{
    display: inline-block;
} 
/*搜高级群 在群里*/
.m-dialog.inTeam .info{
    display: block;
}
.m-dialog.inTeam .ipt,.m-dialog.inTeam .btns .search,.m-dialog.inTeam .btns .cancel{
    display: none;
}
.m-dialog.inTeam .btns .chat,.m-dialog.inTeam .btns .back{
    display: inline-block;
}
/*搜高级群 在不群里*/
.m-dialog.notInTeam .info{
    display: block;
}
.m-dialog.notInTeam .btns .add,.m-dialog.notInTeam .btns .back{
    display: inline-block;
}
.m-dialog.notInTeam .ipt,.m-dialog.notInTeam .btns .search,.m-dialog.notInTeam .btns .cancel{
    display: none;
}
/*好友名片*/
.m-card{
    width: 400px;
    padding-bottom: 20px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left:50%;
    margin-left: -200px;
    margin-top: -295px;
    z-index: 50;
}

.m-card-1{
    height: 550px;
    margin-top: -275px;
}
.m-card .del{
    display:inline-block;
}
.m-card .add{
    display: none;
}
.m-card.notFriend .del{
    display: none;
}
.m-card.notFriend .alias{
    display: none;
}
.m-card.notFriend .add{
    display: inline-block;
}
.m-card  .modifyAvatar{
    cursor: pointer;
}
.m-card .uInfo{
    padding: 30px;
    border-bottom: 1px solid #e4e9ee;
}
.m-card .infos{
    position: relative;
    padding: 30px;
    border-bottom: 1px solid #e4e9ee;
    height: 190px;
}
.m-card-1 .infos{
    border: none;
}

.m-card .infos .operate{
    position: absolute;
    right: 30px;
    top:30px;
}
.m-card .infos .showUI{
    display: block;
}
.m-card .infos .editUI{
    display: none;
}
.m-card .infos .ipt{
    width: 170px;
    padding: 0 10px;
    height: 24px;
    border: 1px solid #e4e9ee;
    line-height: 24px;
    font-size: 14px;
}
.m-card .infos .ipt-1{
    width: 260px;
}
.m-card .infos .slt{
    font-size: 14px;
    border: 1px solid #e4e9ee;
    line-height: 14px;
    font-size: 14px;
    padding: 5px 20px 5px 10px;

}
.m-card .infos textarea{
    width: 260px;
    padding: 0 10px;
    height: 50px;
    border: 1px solid #e4e9ee;
    line-height: 24px;
    font-size: 14px;
}

.m-card .operate span{
    display: inline-block;
    border: 1px solid #e4e9ee;
    border-radius: 8px;
    padding: 2px 8px;
    background-color: #fff;
    margin-left: 10px;
    cursor: pointer;
}
.m-card .operate .save{
    background-color: #238efa;
    color: #fff;
    display: none;
}
.m-card .operate .cancel{
    background-color: #eee;
    color: #3a4a59;
    display: none;
}
.m-card.edit .operate .edit{
    display: none;
}
.m-card.edit .operate .save{
    display: inline-block;
}
.m-card.edit .operate .cancel{
    display: inline-block;
}
.m-card.edit .infos .showUI{
    display: none;
}
.m-card.edit .infos .editUI{
    display: block;
}
.m-card .infos .items{
    position: relative;
    padding-left: 50px;
    height: 22px;
    line-height: 14px;
    font-size: 14px;
    padding: 4px 0 4px 50px;
    margin-top: 10px;
}
.m-card .infos .item{
    position: absolute;
    left: 0px;
    top:4px;
}
.m-card .editUI .item{
    top:6px;
} 
.m-card .infos .sign{
    margin-top: -4px;
    line-height: 22px;
    height: 44px;
    overflow: hidden;
    word-wrap:break-word;
    word-break:break-all;
}
.m-card .u-icon{
    width: 80px;
    height: 80px;
    float: left;
    border-radius: 50%;
}
.m-card .desc{
    float: left;
    margin-left: 15px;
    margin-top: 14px;
}
.m-card .desc p{
    height: 16px;
    line-height: 16px;
    color: #3a4a59;
}
.m-card .desc .gender{
    display: inline-block;
}
.m-card .desc .nick{
    display: inline-block;
    font-size: 16px;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.m-card .desc span{
    display: inline-block;
    overflow: hidden;
    font-size: 12px;
    color: #6b8299;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
   
}
.m-card .alias .item{
    top:10px;
}

.m-card .alias .save{
    width: 60px;
    font-size: 12px;
    height: 16px;
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: 24px;    
    background-color: #0888ff;
    color:#fff;
}
.m-card ul{
    padding: 10px 30px;
    font-size: 14px;
    border-bottom: 1px solid #e4e9ee;
}
.m-card li{
    position: relative;
    padding: 15px 0;
    color: #3a4a59;
}
.m-card .u-switch{
    position: absolute;
    top: 15px;
    right: 0px;
    width: 70px;
    height: 24px;
    background-color: #5cacde;
    border-radius: 3px;
    cursor:pointer;
}
.m-card .u-switch.off{
    background-color: #e7ebef;
    animation: myfirst 5s;
    -moz-animation: myfirst 5s; /* Firefox */
    -webkit-animation: myfirst 5s;  /* Safari 和 Chrome */
    -o-animation: myfirst 5s;
}
.m-card .u-switch img{
    position: absolute;
    top:1px;
    left:1px;
    width: 34px;
    height: 22px;
}
.m-card .u-switch.off img{
    left:35px;
}

.m-card.blacklist .mutelist .u-switch{
    background-color: #add5ee;
    opacity: 0.5;
    cursor: no-drop;
}
.m-card.blacklist .mutelist .u-switch.off{
    background-color: #e7ebef;
    opacity: 0.5;
    cursor: no-drop;
}
.m-notice{
    position: fixed;
    width: 680px;
    height: 580px;
    top: 50%;
    left: 50%;
    margin-top: -290px;
    margin-left: -340px;
    background-color: #fff;
    border: 1px solid #ececec;
    z-index: 9;
}
.m-notice .title{
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    color: #3a4a59;
    background-color: #edecee;
    padding: 0 15px;
}
.m-notice .content{
    height: 470px;
    overflow-y: auto;
}
.m-notice .tab li{
    position: relative;
    text-align: center;
    float: left;
    display: inline-block;
    font-size: 14px;
    line-height: 44px;
    width: 50%;
    background-color: #f3faff;
    cursor: pointer;
}
.m-notice .rmAll{
    position: absolute;
    top: 15px;
    right: 45px;
    width: 22px;
    height: 22px;
    background: url("../images/delete.png")  no-repeat;
    cursor: pointer;
}
.m-notice .tab .crt{
    background-color: #e5f4ff;
    border-bottom: 2px solid #6b8299;

}
.m-notice .item{
    clear:both;
    border-bottom:1px solid #eaeeef;
    overflow:hidden;
    height:61px;
    padding: 10px 20px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.m-notice .item .action{
    float: right;
    font-size: 12px;
}
.m-notice .action a{
    margin-left: 5px;
}
.m-notice .item img{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.m-notice .text {
    margin-left: 60px;
    padding:3px 0;
    position: relative;
    height: 45px;
    overflow: hidden
}
.m-notice .text span, .m-notice .first-msg {
    width: 60%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
}
.m-notice .text .time{
    position: absolute;
    right:0;
    top:5px;
    font-size: 12px;
    color: #999;
}
.m-notice .text .nick {
    line-height: 61px;
    height:61px;
    font-size: 13px;
    color:#999;
    margin: -11px 0;
}
.m-notice .text .nick, .m-notice .text .message {
    position: relative;
    color:#666;
}
.m-notice .text .nick span, .m-notice .text .message span {
    display: inline-block;
    width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    overflow: hidden;
}
.m-notice .text .nick time {
    position: absolute;
    right: 0;
    top: 0;
    color:#aaa;
}
.m-notice .text .first-msg {
    display: inline-block;
    width: 80%;
    color:#6b8299;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}
.m-notice .text p{
    height: 20px;
}

.m-notice .text .message span {
    width: 80%;
}
.m-notice .text .count {
    position: absolute;
    background-color: #f24c3d;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    border-radius: 10px;
    right: 0;
    top: 24px;
    text-align: center;
    padding: 0 5px;
    width: 20px;
}
.m-blacklist{
    position: fixed;
    width: 680px;
    height: 580px;
    top: 50%;
    left: 50%;
    margin-top: -290px;
    margin-left: -340px;
    background-color: #fff;
    border: 1px solid #ececec;
    z-index: 9;
}
.m-blacklist .title{
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    color: #3a4a59;
    background-color: #edecee;
    padding: 0 15px;
}
.m-blacklist .notice{
    margin: 35px 0 17px 200px;
    padding-left: 25px;
    background: url("../images/icon_prompt.png") no-repeat 0 0px;
    height: 18px;
}
.m-blacklist .list{
    padding: 0 70px;
    margin-left: -60px;
    height: 400px;
    overflow-y: auto;
}
.m-blacklist .items{
    position: relative;
    float: left;
    margin-left: 60px;
    width: 230px;
    height: 42px;
    padding: 18px 0;
    border-bottom:1px solid #e4e9ee; 
}
.m-blacklist .items .head{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.m-blacklist .items .nick{
    float: left;
    width: 100px;
    font-size: 12px;
    overflow: hidden;
    margin: 10px 10px;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.m-blacklist .items .btn{
    position: absolute;
    right: 0;
    top: 24px;
    width: 54px;
    height: 26px;
    font-size: 12px;
    line-height: 26px;
}

.m-modifyAvatar{
    position: absolute;
    width: 500px;
    height: 390px;
    padding: 20px;
    background-color: #fff;
    top: 50%;
    left:50%;
    margin-left: -270px;
    margin-top: -215px;
    z-index: 50;
}
.m-modifyAvatar .tt{
     margin-bottom: 20px;
}
.m-modifyAvatar .chose{
    width: 300px;
    height: 300px;
    background-color: #e4e9ee;
}

.m-modifyAvatar .choseFileCtn{
    position: absolute;
    top: 60px;
    left: 20px;
    width: 300px;
    height: 305px;
    background-color: #e4e9ee;
    z-index: 999;
   
}
.m-modifyAvatar .choseFileCtn .choseFile{
    position: absolute;
    top: 125px;
    left: 100px;
    width: 98px;
    height: 32px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}
.m-modifyAvatar .big{
   position: absolute;
   top:80px;
   right: 30px;
}
.m-modifyAvatar .big .img{
    width: 160px;
    height: 160px;
    border: 1px solid #e4e9ee;
    background-color: #e4e9ee;
    overflow: hidden;
    border-radius: 50%;
}
.m-modifyAvatar .small{
    position: absolute;
    top:275px;
    right: 90px;
}
.m-modifyAvatar .small .img{
width: 40px;
    height: 40px;
    background-color: #e4e9ee;
    overflow: hidden;
    border: 1px solid #e4e9ee;
    border-radius: 50%;
}
.m-modifyAvatar .big p,.m-modifyAvatar .small p{
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}
.m-modifyAvatar .btns{
    position: absolute;
    bottom: 20px;
    right: 30px;
}
.m-modifyAvatar .btns .btn{
    margin-left: 15px;
    margin-right: 0px; 
}

.m-unread .u-unread{
    position: absolute;
    top: 2px;
    left:55px;
    font-size: 12px;
    display: block;
    background-color: #f24c3d;
    text-align: center;
    line-height: 16px;
    height: 16px;
    padding: 0 5px;
    color: #fff;
    border-radius: 10px;
}
.u-switch .on,.u-switch .off{
    display: inline-block;
    float: left;
    width: 50%;
    text-align: center;
    line-height: 24px;
}
.u-switch .on{
    color: #fff;
}
.u-switch .off{
   color: #8496a9;   
}
.m-card .btns{
    padding-top: 18px;
}
.u-status {
    margin-bottom: 10px;
}
.u-status span,.u-status a{
    padding: 3px 15px;
    background-color: #e5f4ff;
    color:#6b8299;
}
.u-notice span{
    display: inline;
    padding: 3px 15px;
    background-color: #e5f4ff;
    color:#6b8299;
    font-size: 12px;
    line-height: 30px;
    word-wrap: break-word;
    word-break: break-all;
}
.u-msgTime{
    text-align: center;
    font-size: 12px;
    color: #aaaaaa;
    line-height: 30px;
}

.u-audio{width:164px;position: relative;height: 20px;cursor: pointer;}
.u-audio b{position:absolute;top: 1px;color:#fff;font-size:10px;font-family:arial,"simsun";}
.u-audio.right b{left:8px;}
.u-audio.left b{right: 8px;color:#6b8299;}
.u-audio .playAudio{position: absolute;}
.u-audio.right .playAudio{color:#fff;right:10px;}
.u-audio.left .playAudio{color:#6b8299;left:10px;}
.u-audio .u-icn-play{display:none;position: absolute;top: 3px;right: 9px;background: url("../images/play1.gif") no-repeat;background-size:80%;width: 14px;height: 20px;}
.u-audio.left .u-icn-play{position: absolute;left: 9px;background: url("../images/play0.gif") no-repeat;background-size:80%;width: 14px;height: 20px;}
.u-audio.play .u-icn-play{display: block;}
.u-audio.play .playAudio{display: none;}
.u-modify{
    width: 13px;
    height: 13px;
    cursor: pointer;
}
.u-goChartRoom{
    position: absolute;
    top: 90px;
    right: 100px;
    width: 88px;
    height: 88px;
    text-align: center;
    background: url("../images/chartroom.png") no-repeat;
}
.f-maxWid{
    max-width: 290px;
    _width:290px;
}
.f-cb:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb{zoom:1;}
.f-fl{float: left;}
.f-fr{float: right;}
.ui-datepicker{display: none;}
.right-panel-2{
    width: 233px;
    border-right: 1px solid #efefef;
    height: 100%;
}
.right-panel-2-top{
    height: 51px;
    line-height: 51px;
    text-align: center;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    border-bottom:1px solid #efefef
}
.right-panel-2-tab{
    height: 100%;
}
.right-panel-2-tab ul{
    overflow: hidden;
}
.right-panel-2-tab ul li{
    float: left;
    width: 50%;
}
.right-panel-2-tab ul li:after{
    content: '';
    height: 0;
    display: block;
    clear: both;
}
.right-panel-2-tab ul li a{
    font-size: 14px;
    letter-spacing: 0;
    text-align: center;
    display: block;
    padding: 6px;
}
.right-panel-2-tab ul li.active a{
    color: #00C6AE;
    border-top:2px solid #00C6AE
}
.right-panel-2-tab-content>div{
    display: none;
}
.right-panel-2-tab-content >div.current{
    display: block;
}
.right-panel-2-tab-content >div h5{
    font-size: 14px;
    color: #333333;
    margin-bottom: 5px;
    letter-spacing: 0;
    font-weight: normal;
}
.right-panel-2-tab-content >div h5 img{
    vertical-align: middle;
    margin-right: 7px;
    margin-top: -2px;
}
.right-panel-2-tab-content >div h6{
    font-weight: normal;
    color: #999;
    padding-left: 25px;
}
.health-data{
    padding: 12px;
}
.tip-unread{
    position: absolute;
    background-color: red;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    border-radius: 10px;
    top: -3px;
    margin-left: -16px;
    text-align: center;
    min-width: 14px;
    height: 14px;
    line-height: 14px;
}
.icon-text{
    color:#999;
    font-size: 14px;
}
.msg-type>a{
    display: block;
    padding: 0 10px;
}
.msg-type>a>img{
    margin-right: 8px;
    vertical-align: middle;
    margin-top: -3px;
}
.write-record{
    position: absolute;
    width: 100%;
    background: #fff;
    z-index: 999;
    top:51px;
    text-align: left!important;
    overflow-y: auto;
}
.write-box h5{
    background: #EBF3F8;
    font-size: 14px;
    color: #333333;
    font-weight: normal;
    padding: 12px;
    line-height: 20px;
}
.write-box h5 a{
    display: inline!important;
    float:right;
    color: #999;
}
.border-none{
    border:none!important;
    padding-left: 0;
}
.gy-form-box{
    padding: 10px 16px;
    background: #fff;
}
.gy-form-box .layui-form .layui-form-label{
    letter-spacing: 1px;
    text-align: justify;
    font-size: 14px;
    color: #666666;
    width: 60px;
    padding: 3px 20px 0 0;
    overflow: hidden;
    height: 20px;
}
.gy-form-box .layui-form .layui-form-item{
    margin-bottom: 13px;
}
.gy-form-box .layui-form .layui-form-label span{
    position: absolute;
}
.margin-bottom-7{
    margin-bottom: 7px!important;
}
.gy-form-box .layui-form .layui-input-block{
    margin-left: 80px;
    min-height: 28px;
}
.gy-form-box .layui-form .layui-form-label:after{
    content: " ";
    display: inline-block;
    width: 100%;
}
.gy-form-box .layui-input{
    height: 28px;
    line-height: 28px;
}
.gy-form-box .layui-input,.gy-form-box .layui-select,.gy-form-box .layui-textarea{
    border-color: #e4e4e4;
    border-radius: 4px;
}
.gy-form-box .layui-textarea{
    min-height: 51px;
    resize: none;
}
.tip-box{
    line-height: 24px;
}
.tip-box button{
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    background: #F1F1F1;
    border-radius: 2px;
    color: #333333;
    border: 0;
    padding: 0 7px;
    margin-right: 14px;
    margin-top: 14px;
    margin-bottom: 0;

}
.tip-box .layui-btn+.layui-btn {
    margin-left: 0;
}
#tipDiv{
    overflow: hidden;
    min-height: 28px;
    line-height: 22px;
    height: auto;
    padding-left: 0;
}
#tipDiv .layui-btn{
    height: 24px;
    line-height: 24px;
    padding: 0 6px;
    border:0;
    margin-left: 0;
}
#tipDiv .layui-btn .close-btn{
    font-size: 12px;
}
#inspectionDiv{
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
}
#inspectionDiv>div .left{
    font-size: 14px;
    color: #333333;
}
#inspectionDiv>div>input{
    width: 37px;
    padding: 3px;
    border:none;
    border-bottom:1px solid #d6d6d6;
    color: #999;
    text-align: center;
    font-size: 14px;
}
#inspectionDiv>div .right{
    font-size: 14px;
    color: #999999;
}
.write-bottom-btn{
    margin-bottom: 8px!important;
    display: flex;
    justify-content: center;
}
.write-bottom-btn .layui-input-block{
    line-height: 29px;
    margin-left: 0!important;
}
.write-bottom-btn .layui-input-block button{
    border: 1px solid #00C6AE;
    width: 89px;
    height: 28px;
    line-height: 26px;
    border-radius: 4px;
}
.write-bottom-btn .layui-input-block button.left{
    color: #00C6AE;
}
.write-bottom-btn .layui-input-block button.right{
    background: #00C6AE;
}
.prescribing-box{
    position: absolute;
    width: 100%;
    background: #fff;
    z-index: 999;
    top:51px;
    text-align: left!important;
    overflow-y: auto;
}
.prescribing-center>h5{
    background: #EBF3F8;
    font-size: 14px;
    color: #333333;
    font-weight: normal;
    padding: 12px;
    line-height: 20px;
}
.prescribing-center>h5 a{
    display: inline!important;
    float:right;
    color: #999;
}
.pre-content{
    padding: 13px;
}
.pre-content>h5{
    font-size: 15px;
    color: #333333;
    line-height: 13px;
}
.drugs-box{
    margin-top: 22px;
    border-top: 1px solid #DEDEDE;
    padding-top: 19px;
}
.drugs-box>h5{
    font-size: 15px;
    color: #333333;
    line-height: 13px;
}
.drugs-box>h5 span{
    font-weight: normal;
    font-size: 14px;
    color: #999999;
}
.drugs-box>h5 a{
    font-weight: normal;
    font-size: 14px;
    color: #00C6AE;
}
.drug-table{
    margin-top: 15px;
    min-height: 202px;
    height: auto;
}
.layui-layer-title{
    height: 29px!important;
    line-height: 29px!important;
    font-size: 14px!important;
    color: #666666!important;
}
.layui-layer-setwin{
    right: 8px!important;
    top: 8px!important;
}
.layui-layer .layui-form .layui-form-label{
    text-align: justify;
    font-size: 14px;
    color: #666666;
    width: 57px;
    padding: 3px 0;
    height: 20px;
}
.layui-layer .layui-form .layui-form-label:after{
    content: " ";
    display: inline-block;
    width: 100%;
}
.layui-layer .layui-form .layui-input-block{
    margin-left: 80px;
    min-height: 28px;
}
.layui-layer .layui-input,.layui-layer .select-item{
    height: 28px;
    line-height: 28px;
    border-radius: 4px;
    font-size: 14px;
}
.layui-layer .layui-form-select dl dt,.layui-layer .layui-form-select dl dd {
    padding: 0 10px;
    line-height: 29px;
    white-space: nowrap;
    border-bottom: 1px solid #f3f3f3;
    overflow: hidden;
    text-overflow: ellipsis;
}
.layui-layer .form-box{
    padding: 20px;
}
.layui-layer .layui-form-select dl dd.layui-this{
    background-color: #00C6AE;
}
.layui-layer .layui-form-select dl{
    top: 30px;
}
.margin-left-23{
    margin-left: 23px;
}
.margin-left-20{
    margin-left: 20px;
}
.margin-left-10{
    margin-left: 10px;
}
.width-200{
    width: 198px;
}
.width-51{
    width: 51px;
}
.width-61{
    width: 61px;
}
.margin-right-0{
    margin-right:0!important;
}
.flexBox{
    display: flex!important;
}
.add-table-box{
    min-height: 191px;
    height:auto;
}
.add-table-data{
    border: 1px solid #00C6AE;
    background: #00C6AE;
    width: 89px;
    padding-left: 0;
    padding-right: 0;
    height: 28px;
    line-height: 26px;
    border-radius: 4px;
}
.add-table-box .layui-table td{
    padding: 1px 15px;
}
.view-record .layui-layer-title{
    background: #fff;
    border-bottom: 0;
}
.view-header-1{
    margin: 0 auto 21px auto;
    font-size: 22px;
    width:244px;
    font-weight:600;
    line-height:25px;
    color: #333333;
    text-align: center;
    padding: 0 100px;
    overflow: hidden;
}
.view-medical-box{
    padding: 20px 32px 0 32px;
}
.view-medical-top{
    display: flex;
    width: 100%;
    flex-direction: column;
    line-height: 20px;
}
.view-medical-top .view-medical-div{
    display: flex;
}
.view-medical-top .view-medical-div:after{
    content: " ";
    clear: both;
    *zoom: 1;
    display: block;
    height: 0;
}
.view-medical-top .view-medical-div>div{
    display: flex;
    width: 50%;
}
.view-medical-top .view-medical-div>div .view-label{
    font-size: 14px;
    color:#666;
    width: 62px;
    text-align: justify;
    line-height: 15px;
}
.view-medical-top .view-medical-div>div .view-label span{
    position: absolute;
}
.view-medical-top .view-medical-div>div .view-label:after{
    content: " ";
    width: 100%;
    display: inline-block;
}
.view-medical-top .view-medical-div>div .view-div{
    font-size: 14px;
    color:#333333;
    padding-left: 15px;
    line-height: 15px;
    flex:1;
}
.view-medical-top .view-medical-div>div.left{
    width: 100%;
}
.view-medical-top .view-medical-div>div.left .view-label{
    line-height: 15px;
}
.view-medical-top .view-medical-div>div.left .view-div{
    font-size: 12px;
    line-height: 15px;
}
.view-medical-top .under{
    border-bottom: 1px dashed #C4C4C4;
}
.view-medical-top .top{
    margin-top: 10px;
}
.four-data{
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}
.four-data .view-medical-div>div{
    align-items: center;
}
.four-data .view-medical-div>div .view-label{
    height: 17px;
    text-align: left;
    width: auto;
    font-size: 12px;
}
.line-hr{
    margin: 8px 0;
}
.img-left-list{
    margin-top: -2px;
    margin-right: 5px;
}
.imgtxt{
    display: flex;
    align-items: center;
}
.imgtxt-title img{
    width: 40px!important;
    height: 40px;
    margin-left: 0!important;
}
.imgtxt-title2 h5{
    color: #fff;
    font-size: 14px;
}
.imgtxt-title2 p{
    font-size:12px;
    color:#fff
}
.begin-box{
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 156px;
    background: #fff;
    border-top: 1px solid #efefef;
}
.layui-anim{
    width: 100%;
}
