@import './element-var.scss';

// Fix el-nav
.el-menu-item {
  &:focus {
    background-color: transparent;
  }
}

// Fix el-input
.el-textarea__inner,
.el-input__inner {
  padding: 5px;
}

// Fix el-form
.el-form-item {
}

// Fix el-button
.el-button {
  min-width: 80px;
}

// Fix pagination
.el-pagination {
  margin: 10px 0 0 0;
}

// Fix dialog
.el-dialog__header {
  display: flex;
  align-items: center;
  height: 30px;

  padding: 0 10px;

  background: transparent;

  .el-dialog__title {
    width: 94px;
    height: 22px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    line-height: 22px;
  }

  .el-dialog__headerbtn {
    font-size: 16px;
    top: 6px;
  }
}
.el-dialog__body {
  padding: 10px;
}
