/* 第三方外部 ICON 框架 */

/* @import '../../../node_modules/font-awesome/css/font-awesome.css'; */

/* [class^='fa'],
[class*=' fa'] {
  display: inline-block;
  font-family: FontAwesome !important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
